*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.sayt-header{
    display: flex;
    flex-direction: column;
    min-height: 600px;
    background-color: rgba(233, 192, 12, 0.877);
    overflow: hidden;
}
.sayt-brand{
    position: fixed;
    width: 100%;
    min-height: 153px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    z-index: 1;
}
.brand h3{
    color: white;
    font-size: 46px;
}
.say-me{
    background-color: black;
    min-width: 120px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.say-me span{
    color: white;
}
.sayt-star{
    margin: 153px auto 60px;
}
.yulduz{
    font-size: 160px;
}
.sayt-title{
    display: block;
    margin: 0px auto;
}
.sayt-title h1{
    color: black;
    font-size: 160px;
}
.sayt-role{
    min-height: 60px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sayt-navigator{
    margin-left: 30px;
}
.nav-list{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    list-style: none;
}
.nav-list li{
    font-size: 46px;
}
.sayt-strelka{
    margin: 20px 40px 0 0;

    display: flex;
    align-items: center;
}
.sayt-strelka span{
    font-size: 46px;
}
.about-page{
    display: flex;
    min-height: 450px;
    justify-content: space-around;
    margin: 153px auto 60px;
}
.page-mavzusi{
    flex: 0.4;
}
.page-mavzusi h3{
    color: white;
    text-align: left;
    text-transform: uppercase;
    margin-left: 50px;
    font-size: 30px;
}
.page-matni{
    flex: 0.6;
    padding-right: 50px;
}
.page-matni p{
    display: block;
    font-size: 46px;
    text-align: left;
}
.big-h1{
    margin: 153px auto 60px;
}
.big-title{
    font-size: 40px;
    line-height: initial;
}
.ikki-ustun{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ustun-mavzusi h3{
    display: flex;
    justify-content: right;
    margin-right: 0;

}
.ustun-text{
    display: block;
    text-align: left;
}